@import "tailwindcss";

@theme {
  --color-background:#131112;
  --color-brand:#279AF1;
  --color-regular:rgb(221,200,196);
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
      0% {
        transform: translateX(0);
      }
  
      100% {
        transform: translateX(-100%);
      }
    }

}

:root {
  background-color: var(--color-background);
  color: white;
}

